html,body{
	height:100%;
	margin: 0;
	padding:0;

}



#map {
	height:100%;
	width: 65%;
}

#form {
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
	width:35%;
}

.criteria {
	position: absolute;
	right:10%;
}

.submit_btn {
	position:relative
	left:0;
	bottom:0;

}